@media(max-width: 1286px) {
    .container {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px
    }

    .advantages__text {
        max-width: 30.375rem
    }
}

@media(max-width: 1178px) {

    .nav__menu{
        width: auto;
        min-width: none;
    }
    

    .slider-nav {
        top: 33rem
    }
    .advantages__title {
        font-size: 1.8rem;
        line-height: 1.75rem;
        max-width:222px;
    }

    .header__search {
        width: 300px;
    }

    .logo__img {
        width: 200px;
    }

    .header__navigation {
        min-width: 18.75rem
    }

    .card__item {
        padding-bottom: 40px
    }

    .compilations {
        padding-top: 28px;
        padding-bottom: 59px
    }

    .online-store {
        padding-top: 10rem;
        padding-bottom: 69px
    }

    .advantages__img img {
        width: 16.625rem;
        height: 16.625rem
    }

    .trend {
        display: block;
    }

    .trend__item {
        width: unset;
    }

    .trend__item:not(:last-child) {
        margin-bottom: 30px;
    }
     .item-description__btn-wrap {
        flex-direction: column-reverse;
    }
    .item-description__btn:last-child {
        margin-bottom: 30px;
    }
    .advantages__element {
        padding: 37px 30px 67px 282px;
    }
    .advantages__text {
        max-width: 24.375rem;
    }
}

@media(max-width: 946px) {

    .advantages__img img {
        width: 218px;
        height: 208px
    }

    .header__search {
        width: 200px;
        margin-right: 20px;
    }

    .compilations__card {
        width: 15.625rem
    }

    .advantages__element {
        padding: 47px 48px 50px 248px
    }

    .advantages__item {
        padding-right: 15px;
        padding-left: 0px
    }

    .online-store__wrap div:nth-last-child(n+2) {
        padding-right: 10px
    }

    .grid {
        grid-template-columns: 1fr 85px 118px 164px;
        grid-gap: 6px
    }

    .nav__menu {
        margin-left: 10px;
        min-width: 15.875rem
    }

    .advantages__btn {
        padding-top: 0px;
        margin-right: 5px
    }

    .advantages__text {
        max-width: 25.375rem
    }

 

    .btn__book{
        font-size: 18px;
        padding: 20px 30px;
        line-height: 1.1;
        min-width: 200px;
    }

   
    .online-store__wrap {
        flex-direction: column;
        div:nth-last-child(n+2) {
            padding-right: 0px;
        }
    }
    .online-store {
        padding-top: 106px;
        padding-bottom: 38px;
        &__img {
            padding-bottom: 44px;
        }
    }
    .advantages__img {
        position: absolute;
        top: 7%;
        left: 1%;
    }
    .critique {
        flex-direction: column;
    }
    .critique__text {
        max-width: unset;
    }
    .critique__item {
        display: block;
    }
    .item-description__wrap {
        flex-direction: column;
    }
    .item-description__title {
        margin-bottom: 15px;
    }
    .advantages__element {
        padding: 23px 0px 20px 183px;
    }
    .advantages__img img {
        width: 184px;
    }
    .advantages__wrap {
        border: 0px solid rgba(255,255,255,.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .advantages__element {
        margin-right: auto;
        margin-left: auto;
        max-width: 303px;
        padding-bottom: 81px;
        border: 3px solid rgba(255,255,255,.3);
        border-radius: 25px;
        position: relative;
    }
    .advantages__element {
        margin-top: -74px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 27px 14px 80px 7px;
        z-index: -1;
    }
    .advantages__img img {
        width: 356px;
        height: 350px;
    }
    .advantages__button {
        top: 36%;
        width: 94px;
        height: 94px;
        background-size: 94px 94px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .advantages__item {
        padding-right: 0px;
    }
    .advantages__item {
        padding-top: 90px;
    }
    .advantages__title {
        font-size: 30px;
        line-height: 32px;
        max-width: unset;
    }
    .advantages__text {
        font-weight: 300;
        font-size: 18px;
        max-width: 330px;
        padding-top: 16px;
        padding-left: 5px;
    }
    .btn__advantages {
        padding: 22px 33px;
        font-size: 18px;
        line-height: 21px;
    }
    .advantages__btn {
        padding-top: 82px;
    }
    .advantages__img {
        position: relative;
        top: 0px;
        left: 0px;
    }
    .header__search-btn_hidden {
        display: block;
    }
    .header.search-active .header__right {
        width: 100%;
    }
    .header__search {
        width: 100%;
        margin-right: 50px;
        margin-top: -10px;
        &-btn {
            margin-right: 63px;
        }
    }
    .header {
        background: #000;
        &__active-registration {
            padding-left: 20px;
            display: none;
            position: absolute;
            top: 0;
            right: -100%;
            width: 220px;
            height: 236px;
            transition: .6s all;
            z-index: 200;
            background: #000;
            box-shadow: -15px 4px 40px rgba(25,70,186,.1);
        }
        &__nav_registration {
            margin-top: 70px;
        }
        &__active {
            display: none;
            position: fixed;
            top: auto;
            width: 100%;
            transition: .6s all;
            z-index: 200;
            bottom: 30px;
        }
        &__navigation a {
            -webkit-text-decoration-line: none;
            text-decoration-line: none;
            border-bottom: unset;
        }
        &__navigation li {
            display: block;
            width: 100%;
            height: 62px;
            padding-left: 30px;
            display: flex;
            align-items: center;
        }
        &__navigation .active-li {
            background: #ec8f32;
        }
        &__navigation {
            width: 100%;
            a {
                font-size: 2rem;
                line-height: 26px;
            }
        }
        &__nav {
            padding-top: 267px;
        }
    }
    .nav-active {
        display: none;
        position: absolute;
        top: 102px;
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: .6s all;
        z-index: 200;
        background: #000;
        box-shadow: -15px 4px 40px rgba(25,70,186,.1);
    }
    .nav {
        justify-content: center;
        &__btn_enter {
            padding: 10px 55px;
        }
        &__btn_registration {
            margin-right: 2rem;
            padding: 8px 33px;
        }
        &__menu {
            margin-left: 0px;
            width: 100%;
            flex-direction: column;
            text-align: start;
            align-items: flex-start;
            padding-left: 0px;
            padding-right: 0px;
        }
        &__item {
            padding-bottom: 18px;
            padding-top: 6px;
        }
        &__link {
            font-weight: 700;
            font-size: 30px;
            line-height: 50px;
            color: #fff;
        }
        &__btn {
            font-size: 2rem;
        }
    }
    .vigorous {
        display: block;
        right: 0;
    }
    .hamburger {
        display: block;
        background-image: url(../img/svg/hamburger.svg);
        background-color: rgba(0,0,0,0);
        background-size: contain;
        width: 30px;
        height: 24px;
        border: none;
        transition: background-image .5s;
        z-index: 300;
        background-repeat: no-repeat;
        &-active {
            background-image: url(../img/svg/hamburger-active.svg);
            background-repeat: no-repeat;
            .hamburger-span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    background: #fff;
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    background: #fff;
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
        &-span {
            height: 2.31px;
        }
    }
    .header__wrap {
        height: 100%;
    }
   
    .logo__img_margin {
        margin-bottom: 5rem;
    }
    .hidden-text-1500 {
        display: none;
    }
    .history-hidden-text-768 {
        display: block;
    }
    .hidden-text-768 {
        display: -ms-flexbox;
        display: flex;
    }
    .acc-history-title {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .acc-hidden {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .acc-hidden-time {
        margin-right: auto;
    }
    .book-reg__elem {
        display: none;
    }
    .main-book-reg {
        padding-top: 30px;
        background: none;
    }
    .main-book-reg:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        z-index: -1;
    }
    .book-register__form {
        max-width: 100%;
    }
    .book-register__item {
        width: 100%;
    }
}

@media(max-width: 64em) {

  

    .advantages__button {
        top: 33%;
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center
    }

    .btn__advantages {
        padding: 1.4375rem 1rem
    }

    .popup-img {
        width: 785px;
        width: 100vw;
        -o-object-fit: cover;
        object-fit: cover
    }
}

@media(max-width: 768px) {
    .header.search-active .header__logo {
        display: none;
    }
    .audiobook__wrap-tabs {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
        }
        &_hidden {
            display: flex;
        }
    }
    .header__wrap {
        height: 100%;
    }
    .trend {
        flex-direction: column;
        text-align: center;
        align-items: center;
        &__item {
            max-width: 100%;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
            padding-left: 0px;
            max-width: 297px;
        }
        &__wrap {
            flex-direction: column;
            padding: 43px 21px 46px 25px;
            text-align: center;
        }
        &__icon {
            padding-bottom: 24px;
        }
    }
    .nav__menu {
        min-width: 15.875rem;
    }
    
    .grid__item_none {
        display: none;
    }
    .logo__img-footer {
        width: 168px;
    }
    .grid {
        grid-template-columns: 1fr;
        padding-bottom: 29px;
        &__item {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .footer__line {
        display: none;
    }
    .line {
        display: none;
    }
    .footer__wrap {
        flex-direction: column;
    }
    .footer__item {
        flex-direction: column;
        p:last-child {
            border-left: 1px solid;
            padding-left: 2px;
        }
        p:first-child {
            padding-right: 2px;
        }
    }
    .footer__element {
        padding-top: 12px;
    }
    .footer__img {
        margin-top: 50px;
    }
    .swiper_main {
        width: 50rem;
        height: 359px ;
    }
    .slider-icons {
        display: none;
    }
    .swiper-container {
        height: 87rem;
    }
    html {
        font-size: 8px;
    }
    .header__search-btn_hidden {
        display: block;
    }
    .header.search-active .header__right {
        width: 100%;
    }
    .header__search {
        width: 100%;
        margin-right: 50px;
        margin-top: -10px;
        &-btn {
            margin-right: 63px;
        }
    }
    .header {
        background: #000;
        &__active-registration {
            padding-left: 20px;
            display: none;
            position: absolute;
            top: 0;
            right: -100%;
            width: 220px;
            height: 236px;
            transition: .6s all;
            z-index: 200;
            background: #000;
            box-shadow: -15px 4px 40px rgba(25,70,186,.1);
        }
        &__nav_registration {
            margin-top: 70px;
        }
        &__active {
            display: none;
            position: fixed;
            top: auto;
            width: 100%;
            transition: .6s all;
            z-index: 200;
            bottom: 30px;
        }
        &__navigation a {
            -webkit-text-decoration-line: none;
            text-decoration-line: none;
            border-bottom: unset;
        }
        &__navigation li {
            display: block;
            width: 100%;
            height: 62px;
            padding-left: 30px;
            display: flex;
            align-items: center;
        }
        &__navigation .active-li {
            background: #ec8f32;
        }
        &__navigation {
            width: 100%;
            a {
                font-size: 2rem;
                line-height: 26px;
            }
        }
        &__nav {
            padding-top: 267px;
        }
    }
    .nav-active {
        display: none;
        position: absolute;
        top: 102px;
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: .6s all;
        z-index: 200;
        background: #000;
        box-shadow: -15px 4px 40px rgba(25,70,186,.1);
    }
    .nav {
        justify-content: center;
        &__btn_enter {
            padding: 10px 55px;
        }
        &__btn_registration {
            margin-right: 2rem;
            padding: 8px 33px;
        }
        &__menu {
            margin-left: 0px;
            width: 100%;
            flex-direction: column;
            text-align: start;
            align-items: flex-start;
            padding-left: 0px;
            padding-right: 0px;
        }
        &__item {
            padding-bottom: 18px;
            padding-top: 6px;
        }
        &__link {
            font-weight: 700;
            font-size: 30px;
            line-height: 50px;
            color: #fff;
        }
        &__btn {
            font-size: 2rem;
        }
    }
    .vigorous {
        display: block;
        right: 0;
    }
    .hamburger {
        display: block;
        background-image: url(../img/svg/hamburger.svg);
        background-color: rgba(0,0,0,0);
        background-size: contain;
        width: 30px;
        height: 24px;
        border: none;
        transition: background-image .5s;
        z-index: 300;
        background-repeat: no-repeat;
        &-active {
            background-image: url(../img/svg/hamburger-active.svg);
            background-repeat: no-repeat;
            .hamburger-span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    background: #fff;
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    background: #fff;
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
        &-span {
            height: 2.31px;
        }
    }
    .main__wrap {
        padding-top: 145px;
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
    }
    .slider-nav {
        top: 69rem;
        z-index: 1;
    }
    .main__title {
        max-width: 393px;
    }
    .logo__img {
        width: 206.71px;
    }
    .main__title {
        font-size: 38px;
        line-height: 41px;
    }
    .main__text {
        padding-top: 18px;
        font-size: 21px;
        line-height: 24px;
        max-width: 46.25rem;
    }
    .container {
        padding: 0 32px;
    }
    .main__btn {
        margin-top: 58px;
    }
    .btn__book {
        font-size: 18px;
        line-height: 21px;
        padding: 20px 33px;
    }
    .swiper-menu {
        margin-left: auto;
        margin-right: auto;
        padding-top: 52px;
    }
    .main {
        padding-bottom: 30px;
    }
    .background {
        background-position: 54% 75%;
    }
    .audiobook_new {
        padding-top: 61px;
    }
    .audiobook__wrap {
        padding-bottom: 30px;
        text-align: start;
        &_hidden {
            display: none;
        }
    }
    .audiobook__btn {
        display: none;
    }
    .card__title-span {
        display: none;
    }
    .audiobook_tabs {
        padding-top: 61px;
    }
    .audiobook__title {
        font-size: 32px;
        line-height: 37px;
    }
    .card__text {
        font-size: 16px;
        line-height: 18px;
    }
    .card__title {
        font-size: 21px;
        line-height: 24px;
    }
    .card__wrap {
        margin-left: -10px;
        margin-right: -10px;
    }
    .card__item {
        max-width: calc(50% - 28px);
        margin: 0 10px;
        &_hide {
            display: none;
        }
    }
    .card__description {
        height: 103px;
        padding-top: 13px;
    }
    .compilations__title-popular {
        font-size: 32px;
        line-height: 37px;
        padding-bottom: 13px;
    }
    .compilations {
        padding-top: 51px;
        padding-bottom: 65px;
        &__title {
            font-size: 24px;
            padding-top: 107px;
        }
        &__card {
            width: 273px;
        }
    }
    .hidden-p {
        display: none;
    }
    .audiobook_popular {
        padding-top: 0;
        padding-bottom: 0;
        
        
    }
    .audiobook_edition {
        padding-top: 0;
        padding-bottom: 0;
        
        
    }
    .audiobook__card_padding {
        padding-bottom: 0;
    }
    .slider-icons {
        display: none;
    }
    .swiper_tabs {
        width: 50rem ;
        height: 77px ;
    }
    .swiper-slide_tabs-1 {
        width: 170px ;
    }
    .swiper-slide_tabs-2 {
        width: 200px ;
    }
    .swiper-slide_tabs-3 {
        width: 200px ;
    }
    .swiper_tabs {
        width: 50rem ;
    }
    .audiobook__title {
        text-decoration-line: underline;
    color: #ec8f32;
    }
    .audiobook__title_active {
        color: #fff;
    }
    
	  .tabs__btn_active {
		color: #fff;
	  }
}

@media(max-width: 400px) {
    .container {
        padding: 0 20px;
    }

    .advantages__button {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center
    }

    .advantages__img img {
        width: 100%;
        height: 350px
    }

    .advantages__element {
        padding: 27px 0px 80px 0px
    }

    .header__search-btn {
        margin-right: 65px
    }

    .hamburger{
        right: 20px;
    }
}

@media(max-width: 360px) {
    .main__text {
        padding-top:18px;
        font-size: 21px;
        line-height: 24px;
        max-width: 310px
    }

    .nav__btn_registration {
        padding: 8px 22px
    }

    .nav__btn_enter {
        padding: 10px 40px
    }
}

@media(max-width: 330px) {
    .header__search-btn {
        margin-right:50px
    }
}


@media(max-width: 1286px) {
    .item-description__title {
        max-width:33rem
    }

    .book-author__item {
        margin-left: 15px
    }

    .compilations__wrap{
        overflow-x: scroll;
        white-space: nowrap;
    }
    .connects-letter {
        display: none;
    }
    .connects-form {
        display: flex;
    }
    .connects-btn, .connects-check {
        font-size: 11px;
    }
    .history-cat-name {
        display: none;
    }
}

@media(max-width: 910px) {
    .item-description__btn-wrap {
        flex-direction:column
    }

    .btn__item-description {
        margin-bottom: 20px
    }

    .book-offer__img {
        min-width: 14.375rem
    }
}

@media(max-width: 798px) {
   
}

@media(max-width: 768px) {
    .book-offer__wrap {
        align-items:center;
        flex-direction: column
    }

    .item-description__title {
        max-width: 40rem
    }
    
    .main-book {
        padding-top: 99px;
    }
    .item-description__title {
        font-size: 36px;
        line-height: 42px;
        max-width: unset;
    }
    .item-description__text {
        font-size: 16px;
        line-height: 25px;
        max-width: 41rem;
    }
    .item-description__elem-text {
        font-size: 16px;
        line-height: 22px;
        max-width: unset;
    }
    .item-description {
        position: relative;
        &__icons-wrap {
            position: absolute;
            top: 178px;
            right: 0px;
        }
        &__elem {
            position: relative;
            padding-top: 17px;
            &-definition {
                padding-top: 564px;
            }
            &-text {
                height: 202px;
                overflow: hidden;
            }
        }
        &__rating {
            position: absolute;
            top: 99px;
            left: 0;
        }
        &__span {
            font-size: 42px;
            line-height: 52px;
            color: #01b368;
            &-text {
                font-size: 12px;
                line-height: 14px;
                max-width: 16rem;
            }
        }
        &__btn-wrap {
            margin-top: 83px;
            flex-flow: column-reverse;
        }
    }
    .book-offer__wrap {
        position: relative;
    }
    .book-offer__item {
        position: absolute;
        top: 239px;
        left: 0;
        z-index: 4;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        max-width: 355px;
    }
    .book-offer__img {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .player {
        margin-top: 21px;
        &__text {
            font-size: 16px;
            line-height: 18px;
        }
        &__wrapper {
            padding: 10px 18px 11px 4px;
        }
    }
    .elem-link {
        position: absolute;
        top: 908px;
        right: -23px;
    }
    .btn__item-description {
        margin-bottom: 20px;
        padding: 24px 67px;
        font-size: 24px;
        line-height: 28px;
    }
    .btn__description {
        padding: 12px 91px;
        font-size: 12px;
        line-height: 0px;
    }
    .title {
        font-size: 32px;
        line-height: 37px;
    }
    .materials {
        padding-top: 73px;
    }
    .card-materials__wrap {
        flex-direction: column;
    }
    .card-materials__item p {
        font-size: 21px;
        line-height: 24px;
        margin-left: 36px;
    }
    .card-materials__item {
        padding-bottom: 28px;
    }
    .content__wrap {
        padding-bottom: 40px;
        flex-direction: column;
    }
    .content__text {
        text-align: left;
    }
    .content-player__btn-play {
        width: 39px;
    }
    .content-player__text {
        max-width: 250px;
        &_width {
            max-width: 200px;
        }
    }
    .reviews {
        padding-top: 11.1875rem;
    }
    .critique__text {
        max-width: unset;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
    }
    .critique__wrap p {
        font-size: 14px;
        line-height: 16px;
    }
    .critique__item_hidden {
        display: none;
    }
    .book-author__wrap {
        flex-direction: column;
    }
    .book-author__title {
        font-size: 26px;
        line-height: 60px;
    }
    .book-author__text {
        font-size: 16px;
        line-height: 21px;
        max-width: unset;
    }
    .audiobook__wrap-tabs {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    .book-author {
        padding-top: 10rem;
        &__item {
            padding-top: 19px;
        }
    }
    .card__img_book {
        width: 348px;
        height: 348px;
    }
    .audiobook__wrap-tabs {
        padding-bottom: 28px;
    }
    .advantages_hidden {
        display: none;
    }
    .audiobook_chosen {
        display: none;
    }
    .book-author {
        padding-bottom: 2.5625rem;
    }
    .nav__btn_exit {
        margin-right: 2rem;
        padding: 8px 33px;
    }   
    .how-it-works-flex-text {
        display: none;
    }
    .gray-block-1500 {
        display: none;
    }
    .gray-block-768 {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .how-it-works-flex {
        flex-direction: column;
    }
    .how-it-works-gray-block {
        margin-right: auto;
        margin-left: auto;
    }
    .how-it-works-big-text1 {
        margin-bottom: 37px;
    }
    .profile-form {
        flex-direction: column;
    }
    .profile-input:nth-child(2n) {
        margin-left: unset;
    }
    .profile-input {
        width: 100%;
    }
    .profile-btn {
        justify-content: center;
    }
    .payments-cat-name {
        display: none;
    }
    .payment-list-768 {
        display: flex;
        flex-direction: column;
    }
    .payment-list {
        display: none;
    }
    .certificate-form {
        flex-direction: column;
        max-height: unset;
    }
    .certificate-btn {
        justify-content: center;
    }
    .certififcate-date-768 {
        display: block;
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
/* identical to box height */

display: flex;
align-items: center;

color: #ADADAD;
    }
    .certificate-768 {
        display: none;
    }
    .pay-flex {
        flex-direction: column;
    }
    .pay-btn {
        margin-bottom: 22px;
    }
    .pay-title-768 {
        display: block;
    }
    .pay-btn-safe {
        margin-bottom: unset;
    }
    #select-3 {
        display: block;
    }
    .bookmarks-name {
        margin-right: unset;
    }
    .hidden-text-1500 {
        display: none;
    }
    .hidden-text-768 {
        display: flex;
    }
    .acc-hidden {
        flex-direction: column;
    }
    .acc-hidden-time {
        margin-right: unset;
    }
    .acc-hidden-right {
        justify-content: space-between;
    }
    .history-acc-head {
        max-width: unset;
    }
    .history-hidden-text-768 {
        display: block;
    }
    .acc-history-title {
        align-self: center;
    }
    .payment-img-name {
        margin-bottom: 14px;
    }
    .how-it-works-down-content {
        display: none;
    }
    .popup {
        position: fixed;
        top: 12%;
        left: 50%;
        padding: 50px;
        margin-left: -206px;
        background: #1f1b1c;
        z-index: 99999;
        opacity: 1;
        border-radius: unset;
        max-width: unset;
}
.popup-fade:before {
    z-index: 10;
}
    .pay-header {
        z-index: 11;
    }
    .pay-popup {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 128px;
        margin-left: unset;
    }
    .pay-select-toggle {
        max-width: unset;
    }
    .select__dropdown {
        max-width: unset;
    }
}

@media(max-width: 413px) {
    .btn__description {
        padding:12px 65px
    }

    .btn__item-description {
        padding: 24px 41px
    }

    .player__text {
        padding-left: 12px
    }

}

@media(max-width: 378px) {
    .player__text {
        display:none
    }

    .player__wrapper {
        text-align: center;
        justify-content: center
    }

    .item-description__elem-definition {
        padding-top: 522px
    }

    .btn__description {
        padding: 12px 56px
    }

    .btn__item-description {
        padding: 24px 33px
    }

    .title {
        font-size: 30px
    }

    .card-materials__item p {
        font-size: 22px;
        margin-left: 26px
    }

    .elem-link {
        top: 872px
    }
}

@media(max-width: 348px) {
    .item-description__elem-definition {
        padding-top:473px
    }

    .elem-link {
        top: 851px
    }
}


@media(max-width: 1284px) {
    .elem-detail_play {
        min-width:53rem
    }

    .elem-detail__title {
        max-width: 34rem
    }
}

@media(max-width: 1176px) {
    .elem-detail_play {
        min-width:46.75rem
    }
}

@media(max-width: 912px) {
    .elem-detail_play {
        min-width:40.5rem
    }
}

@media(max-width: 768px) {
    .elem-detail__title {
        max-width: 36rem;
        &_play {
            font-size: 36px;
            line-height: 41px;
        }
    }
    .audiobook_book-play {
        display: none;
    }
    .materials_book-play {
        display: none;
    }
    .book-author_book-play {
        display: none;
    }
    .reviews_book-play {
        display: none;
    }
    .my-book__wrap {
        position: relative;
        flex-direction: column;
    }
    .my-book__item-play {
        position: absolute;
        top: 182px;
        left: 0;
        z-index: 4;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .my-book__img-play {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        min-width: 35.625rem;
    }
    .elem-detail__elem-link_play {
        padding-top: 482px;
        position: relative;
        flex-direction: row-reverse;
    }
    .elem-detail__rating {
        position: absolute;
        top: 401px;
        left: 0;
    }
    .elem-detail__icons-wrap {
        position: absolute;
        top: 537px;
        right: 0px;
    }
    .elem-detail__text {
        font-size: 16px;
        line-height: 25px;
        max-width: 41.8125rem;
    }
    .button {
        position: absolute;
        top: 635px;
        left: 0;
        &__description {
            font-size: 11px;
            line-height: 0px;
            padding: 12px 14px;
        }
    }
    .book-player_hidden {
        display: none;
    }
    .book-player__wrapper {
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
        padding-bottom: 21px;
    }
    .book-player__wrap-volume {
        position: absolute;
        top: 112px;
        left: 0;
    }
    .book-player__wrap-main {
        position: relative;
        padding: 23px 22px 66px 22px;
    }
    .book-player__btn-time {
        padding-left: 0px;
    }
    .content-player_hidden {
        display: none;
        display: block;
    }
    .book-player__volume_hidden {
        display: none;
    }
    .book-player__speed_hidden {
        display: none;
    }
    .book-player__btn-bookmarks {
        padding-right: 0px;
    }
    .line-play {
        display: block;
        margin: 0 0 0px 0;
        border: 2px solid #292b36;
    }
    .book-player__wrap-tooltip {
        position: absolute;
        top: 112px;
        right: 0;
    }
    .my-book_padding {
        padding-top: 4rem;
        padding-bottom: 33px;
    }
    .elem-detail__elem_padding {
        padding-top: 9px;
    }
    .elem-detail__span {
        font-size: 42px;
        line-height: 52px;
        &-text {
            min-width: 112px;
        }
    }
    .player-small_hidden {
        display: block;
    }
    .player-small {
        margin-top: 19px;
        background: #151516;
        border-radius: 20px;
        &__wrapper {
            display: flex;
            align-items: center;
            background: #151516;
            border-radius: 20px;
            padding: 10px 28px 11px 4px;
        }
        &__text {
            padding-left: 26px;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            color: #adadad;
        }
        &__btn-play {
            padding-left: 23px;
            padding-right: 27px;
        }
    }
    .book-player__wrap {
        padding-top: 29px;
    }
    .volume-controls {
        display: none;
    }
    .time-controls {
        left: -4px;
    }
    
}

@media(max-width: 342px) {
    .button__description {
        font-size:9px
    }

    .elem-detail__item a:nth-last-child(n+2) {
        padding-right: 9px
    }

    .elem-detail_play {
        min-width: 37.5rem
    }

    .my-book__item-play {
        top: 217px
    }

    .elem-detail__icons-wrap {
        top: 564px
    }

    .button {
        top: 676px
    }
}


@media(max-width: 1286px) {
    .book-form__wrap {
        gap: 30px
    }
    .continue-prev, .continue-next, .my-purchase-sldier-icon-next, .my-purchase-sldier-icon-prev {
        display: none;
    }
}

@media(max-width: 768px) {
    .book-form__elem-text {
        position:absolute;
        top: 139px;
        left: 0
    }

    .book-form__item-wrap img {
        max-width: 119px
    }

    .book-form__title {
        font-size: 28px;
        line-height: 32px
    }

    .book-form__wrap {
        gap: 159px
    }

    .book-form {
        padding-top: 60px
    }

    .book-form__item-form {
        padding: 28px 11px 30px 26px
    }

    .book-form__form-img p {
        font-size: 14px;
        line-height: 18px
    }

    .book-form__form-img {
        padding-bottom: 27px
    }

    .book-form {
        padding-bottom: 18px
    }

    .input {
        width: 190px
    }
}

@media(max-width: 400px) {
    .book-form__item-form {
        padding:28px 5px 30px 5px
    }

    .form__button {
        margin-left: 5px
    }

    .input {
        width: 154px
    }
    .bookmarks-ttiles-width {
        display: block;
        width: 95%;
    }
}


@media(max-width: 768px) {
    .book-paid__wrap {
        text-align:center;
        align-items: center;
        flex-direction: column;
        gap: 30px
    }

    .book-paid__img {
        margin-right: 0px
    }

    .book-paid__title {
        font-size: 32px;
        line-height: 38px
    }

    .book-paid__text {
        font-size: 16px;
        line-height: 21px
    }

    .book-paid__button {
        margin-top: 15px;
        font-size: 16px;
        line-height: 21px;
        padding: 16px 31px
    }

    .book-paid {
        padding-top: 65px;
        padding-bottom: 2rem
    }

    .book-paid__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid #3c3d43;
        border-radius: 12px;
        padding: 4.8125rem 3.125rem 6.6875rem 3.125rem
    }

    .book-paid__title {
        padding-bottom: 10px
    }
}


@media(max-width: 1176px) {
    .book-not-paid__description {
        margin-right:0px
    }

    .book-not-paid__wrap {
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap
    }
}

@media(max-width: 768px) {
    .book-not-paid__wrap {
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 26px;
    }
    .book-not-paid__img {
        margin-right: 0px;
    }
    .book-not-paid__title {
        font-size: 32px;
        line-height: 38px;
    }
    .book-not-paid__text {
        font-size: 16px;
        line-height: 21px;
    }
    .book-not-paid__button {
        font-size: 14px;
        line-height: 0px;
        padding: 16px 22px;
        &-later {
            font-size: 14px;
            line-height: 25px;
            padding: 10px 28px;
        }
    }
    .book-not-paid {
        padding-top: 65px;
        padding-bottom: 2rem;
        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 3px solid #3c3d43;
            border-radius: 12px;
            padding: 4.8125rem 3.125rem 5.3125rem 3.125rem;
        }
        &__title {
            padding-bottom: 10px;
        }
    }    
}

@media(max-width: 490px) {
    .book-not-paid__button-wrap {
        flex-direction:column;
        gap: 20px
    }

    .book-not-paid__button-later {
        margin-left: 0
    }

    .book-not-paid__button {
        line-height: 16px
    }
    .accordion__Heading, .accordionTitle {
        padding: 15px 17px;
    }
}


@media(max-width: 768px) {
    .modal-wrapper {
        position:fixed;
        top: 44%;
        left: 50%;
        z-index: 99;
        padding: 48px 31px 27px 31px;
        background: #0f1014;
        border-radius: 0px
    }

    .slid-icons {
        display: none
    }

    .modal-bookmarks__wrapper {
        position: fixed;
        top: 44%;
        left: 50%;
        z-index: 99;
        padding: 48px 31px 27px 31px;
        background: #0f1014;
        border-radius: 0px
    }

    .modal__text h4 {
        max-width: 222px
    }

    .modal__close {
        width: 24px;
        height: 24px
    }

    .modal__wrapper {
        padding: 15px 0px 10px 0px
    }

    .modal-bookmarks__row {
        height: 181px
    }
}


@media(max-width: 768px) {
    .book-404__wrap {
        text-align:center;
        align-items: center;
        flex-direction: column;
        gap: 30px
    }

    .book-404__img {
        margin-right: 0px
    }

    .book-404__title {
        font-size: 32px;
        line-height: 38px
    }

    .book-404__text {
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 8px
    }

    .book-404__button {
        margin-top: 15px;
        font-size: 16px;
        line-height: 21px;
        padding: 8px 24px
    }

    .book-404 {
        padding-top: 65px;
        padding-bottom: 25px
    }

    .book-404__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .book-404__title {
        margin-right: auto;
        margin-left: auto;
        max-width: 253px;
        padding-top: 10px;
        padding-bottom: 2px
    }

    .book-404__nav {
        margin-bottom: 57px
    }
}

@media(max-width: 768px) {
    .menu-footer {
        display:block
    }
}


@media(max-width: 768px) {
    .book-player__btn-time {
        margin-left:0px
    }
}

@media(max-width: 768px) {
    .content-player_hidden-790 {
        display:block
    }

    .hidden-player {
        display: none
    }
}


@media(max-width: 1280px) {
    .history__specifications {
        max-width:55.3125rem
    }

    .history__specifications-track {
        position: relative;
        margin-right: 9.0625rem
    }

    .history-book__btn-next {
        margin-left: 10px
    }
}

@media(max-width: 908px) {
    .history-book__wrapper {
        flex-direction:column;
        align-items: flex-start;
        gap: 20px;
        position: relative
    }

    .feature-sub {
        min-width: 100%
    }
}

@media(max-width: 768px) {
    .history-book__wrapper {
        flex-direction:column;
        align-items: flex-start;
        gap: 20px;
        position: relative
    }

    .feature-sub {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start
    }

    .history-book__btn-next {
        position: absolute;
        top: 77%;
        right: 18px
    }

    .history-book__wrapper {
        padding: 7px 9px 7px 13px
    }

    .history-hidden {
        display: none
    }

    .styled-hidden {
        display: block
    }

    .history-book__text_track {
        margin-left: 0px
    }
}


@media(max-width: 768px) {
    .feature-link {
        position:absolute;
        top: 31px;
        right: 18px;
        color: #fff;
        background-color: rgba(0,0,0,0);
        border: none;
        width: 18px;
        height: 9px;
        background-image: url(../img/svg/icon-down.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        outline: none
    }

    .feature-link_active {
        margin-bottom: 14px;
        background-image: url(../img/svg/icon-up.svg)
    }

    .history-toast {
        padding-top: 5.375rem
    }

    .history__nav {
        margin-top: 23px
    }

    .history__wrap {
        padding-top: 14px
    }

    .history-book {
        margin-top: 29px
    }

    .history-book__progress {
        width: 259px
    }
}

@media(max-width: 374px) {
    .history-book__text {
        margin-left:5px;
        max-width: 200px
    }

    .sort-select {
        width: 290px;
        background-position: 261px center
    }

    .history-book__progress {
        width: 230px
    }
}


@media(max-width: 768px) {
    .page {
        margin-top:41px;
        margin-bottom: 34px
    }

    .audiobook_edition-padding {
        padding-top: 87px
    }
}


@media(max-width: 1174px) {
    .book-register__elem {
        margin-left:20px
    }
}

@media(max-width: 768px) {
    .book-register__elem {
        display:none
    }

    .book-register__item {
        min-width: 100%
    }

    .book-register__form {
        max-width: 100%
    }

    .hidden-786 {
        display: block
    }

    .main-book_register {
        padding-top: 30px
    }

    .main-book_register {
        background: none
    }
}


@media(max-width: 840px) {
    .form-check {
        flex-direction:column
    }

    .input-check {
        width: 100%
    }

    .form-check__button {
        margin-top: 20px;
        margin-left: 0px
    }
}

@media(max-width: 768px) {
    .form-check {
        max-width:100%
    }

    .book-title-check {
        max-width: 329px;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #fff
    }

    .book-text-check {
        font-weight: 400;
        max-width: 286px;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        color: #fff
    }

    .form-check-wrap {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center
    }

    .book-register__wrap_padding {
        padding-top: 20px
    }

    .form-check__button {
        font-size: 18px;
        line-height: 21px
    }
}


@media(max-width: 840px) {
    .form-check-ok {
        flex-direction:column
    }
}

@media(max-width: 768px) {
    .book-register__ok {
        min-width:100%
    }

    .form-check-ok {
        max-width: 100%
    }

    .form-check__button_margin {
        width: 100%
    }

    .form-check__button_padding {
        margin-left: 0
    }

    .logo__img_margin {
        margin-bottom: 5rem
    }

    .active-link {
        color: #fff
    }
}


@media(max-width: 1280px) {
    .bookmark-book__specifications {
        max-width:55.3125rem
    }

    .bookmark-book__specifications-track {
        position: relative;
        margin-right: 9.0625rem
    }

    .bookmark-book__btn-next {
        margin-left: 10px
    }
}

@media(max-width: 908px) {
    .bookmark-book__wrapper {
        flex-direction:column;
        align-items: flex-start;
        gap: 20px;
        position: relative
    }
}

@media(max-width: 768px) {
    .bookmark-book__wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: relative;
    }
    .bookmark-book__elem {
        width: 100%;
        justify-content: space-between;
        &_padding {
            padding-top: 20px;
        }
    }
    .bookmark-book__name {
        width: 100%;
        justify-content: space-between;
    }
    .bookmark-book__item-wrap {
        min-width: 90%;
        justify-content: space-between;
        position: relative;
    }
    .bookmark-book__wrapper {
        padding: 7px 9px 7px 13px;
    }
    .bookmark-book__text-quantity {
        position: absolute;
        top: 40px;
        left: 74px;
    }
    .bookmark-book__text {
        margin-left: 0px;
    }
    .bookmark-book__btn img {
        width: 23px;
    }
    .bookmark-book__wrap-del {
        min-width: 10px;
    }
    .bookmark-book-hidden {
        display: none;
    }
    .styled-hidden {
        display: block;
    }
    .bookmark-book__progress {
        margin-right: .6875rem;
    }
    .bookmark-book-toast {
        padding-top: 5.375rem;
    }
    .bookmark-book__nav {
        margin-top: 23px;
    }
    .bookmark-book__wrap {
        padding-top: 14px;
    }
    .bookmark-book {
        margin-top: 29px;
        &__progress {
            width: 259px;
        }
        &__item {
            flex-direction: column;
            margin-top: 21px;
        }
    }
    
}

@media(max-width: 374px) {
    .bookmark-book__text {
        margin-left:5px;
        max-width: 200px
    }

    .sort-select {
        width: 290px;
        background-position: 261px center
    }

    .bookmark-book__progress {
        width: 230px
    }
}

@media(max-width: 768px) {
    .book-data__form-item {
        flex-direction:column;
        gap: 0
    }

    .book-data__form {
        max-width: 100%
    }

    .book-data__button {
        width: 100%
    }
}


@media(max-width: 1140px) {
    .book-payments__item {
        min-width:269px
    }

    .margin-left {
        margin-left: 19.75rem
    }
}

@media(max-width: 768px) {
    .book-payments__wrapper {
        flex-direction:column;
        align-items: flex-start;
        gap: 20px;
        position: relative
    }

    .bookmark-book__nav_margin {
        margin-top: 40px;
        margin-bottom: 43px
    }

    .audiobook__wrap-tabs_padding {
        padding-bottom: 0px
    }

    .sort-select_margin {
        margin-top: 0;
        margin-bottom: 26px
    }

    .book-payments__span {
        display: block;
        margin-left: 10px
    }

    .book-payments__text_margin {
        margin-left: 0
    }

    .book-payments__elem_order {
        position: absolute;
        top: 42px;
        left: 62px
    }

    .book-payments__elem_sum {
        position: absolute;
        top: 77px;
        left: 92px
    }

    .book-payments__elem_btn {
        position: absolute;
        top: 71px;
        right: 17px
    }

    .book-payments__wrapper {
        padding: 7px 9px 20px 13px
    }

    .book-payments__btn {
        padding: 5px 12px
    }

    .book-payments-hidden {
        display: none
    }
}


@media(max-width: 800px) {
    .book-certificate__form {
        flex-direction:column
    }

    .book-certificate__button {
        width: 100%
    }
}

@media(max-width: 768px) {
    .book-certificate__form-item {
        flex-direction:column;
        gap: 0
    }

    .book-certificate__form {
        max-width: 100%
    }

    .book-certificate__title {
        margin-top: 62px;
        margin-bottom: 14px
    }

    .book-payments__elem_data {
        position: absolute;
        top: 45px;
        left: 78px
    }

    .book-certificate__button {
        width: 100%
    }

    .book-payments__item_start {
        display: flex;
        align-items: start
    }

    .book-payments__wrapper_padding {
        padding: 17px 9px 11px 13px
    }
}


@media(max-width: 768px) {
    .main-book_register::after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0,0,0,0);
        z-index: -1
    }
}